body{
	/* background-color: #ccffcc; */
}
.header{
	font-size: 20px;
	line-height: 1.5;
	margin: 60px auto;
	}
.header span{
	display: block;
}
.section{
	padding: 30px 0;
}
.form{
	border: 5px solid #2727d9;
	padding: 30px 20px;

}

.form-header{
	margin-bottom: 12px;
	font-size: 20px;
	font-weight: 900;
}

.form-btn{
	background-color: #2727d9;
	margin: 10px auto;
}
.form input{
	margin-bottom: 12px;
}
.section-header{
	font-size: 30px;
	font-weight: 900;
	margin: 10px;
}

.col-xl-3{
	display: inline-block;
}